/* UTILITY */
.color-white{
	color: #fff;
}
.color-black{
	color: #000;
}
.color-blue{
	color: #006AFF;
}
.my-bold{
	font-weight: bold;
}
/* button */
.my-btn-navbar-light{
background-color: #fff;
color: #000;
border: none;
transition: all 1s;
padding: 6px 15px;
}
.my-btn-navbar-light:hover{
	background-color: #006AFF;
	color: #fff;
}

.my-btn-navbar{
	background-color: #fff;
	color: #006AFF;
	border: 1px solid #006AFF;
	transition: all 1s;
	padding: 6px 15px;
}
.my-btn-navbar:hover{
	background-color: #006AFF;
	color: #fff;
}

/* button */
/* UTILITY */
/* modifiche boostrap navbar */
@media all and (min-width: 768px){
	.navbar-toggle {
		display: block;
	}
	.navbar-header {
		float: none;
	}
	.navbar-collapse.collapse {
		display: none!important;
		overflow: visible!important;
	}
}

@media all and (min-width: 992px){
	.navbar-toggle {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.navbar-collapse.collapse {
		display: block!important;
		overflow: visible!important;
	}
}
/* modifiche boostrap navbar */
.my-navbar-right{
	float: right;
}
.navbar-header img{
	height: 30px;
}
.navbar-brand {
    padding	: 10px;
}

/* JUMBOTRON */
/* posizionamento jumbo */
#jumbotron{
	height: 800px;
}
#jumbotron .container{
	height: 100%;
	position: relative;
}
#jumbotron .container .row{
	margin-right: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
/* posizionamento jumbo */
.bg-img-sea{
	background-image: url(../img/bg-sea.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* text part */
#jumbotron .text h1{
	font-size: 40px;
	font-weight: bolder;
	margin-top: 0;
}
#jumbotron .text p{
	font-size: 20px;
}
/* text part */
/* card part */
#jumbotron .card{
	padding: 15px;
}
#jumbotron .card > *{
	margin-bottom: 15px ;
}
#jumbotron .card h2{
	font-weight: bold;
}
#jumbotron button{
	width: 100%;
}
#jumbotron .card{
	background-color: #fff;
	border-radius: 5px;
}
/* card part */
@media all and (min-width: 992px){
	/* posizionamento jumbo */
	#jumbotron .container .row{
		height: 100%;
		position: relative;
		top: 0;
		transform: translate(0, 0);
	}
	
	#jumbotron .container .row > *{
		height: 100%;
	}
	#jumbotron .text, #jumbotron .card{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	/* posizionamento jumbo */
	/* text part */
	#jumbotron .text h1{
		font-size: 50px;
	}
	#jumbotron .text p{
		font-size: 25px;
	}
	/* text part */
}
/* JUMBOTRON */
/* logs */
#logs{
	text-align: center;
}
#logs img{
	width: 100%;
	max-width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#logs .col-sm-2{
	height: 100px;
	margin-bottom: 30px;
}
#logs p{
	font-size: 18px;
	color: grey;
	text-transform: uppercase;
	margin: 20px 0;
}
#logs span{
	font-size: 18px;
	color: #006AFF;
}
@media all and (min-width: 769px) and (max-width: 992px){
	#logs img{
		max-width: 100px;;
	}
}
/* logs */
