/* UTILITY */

.color-white {
	color: #fff;
}

.color-black {
	color: #000;
}

.color-blue {
	color: #006AFF;
}

.color-darkblue, body {
	color: #031C4E;
}

.color-grey {
	color: #75809A;
}

.bg-lightgrey {
	background-color: #F3F5F9;
}

.bg-white {
	background-color: #fff;
}

.bg-img-sea {
	background-image: url(../img/bg-sea.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.my-bold {
	font-weight: bold;
}


/* button */
.my-btn-navbar-light {
	background-color: #fff;
	color: #000;
	border: none;
	transition: all 1s;
	padding: 6px 15px;
}

.my-btn-navbar-light:hover {
	background-color: #006AFF;
	color: #fff;
}

.my-btn-navbar {
	background-color: #fff;
	color: #006AFF;
	border: 1px solid #006AFF;
	transition: all 1s;
	padding: 6px 15px;
}

.my-btn-navbar:hover {
	background-color: #006AFF;
	color: #fff;
}

.my-btn-white {
	background-color: #fff;
	color: #006AFF;
	border: 1px solid #006AFF;
	transition: all 1s;
	padding: 10px 20px;
}

.my-btn-white:hover {
	border: 1px solid #031C4E;
	background-color: lightgrey;
}
/* button */

/* title */
.title{
	margin-bottom: 30px;
	text-align: center;
	color: #031C4E;
}

.title h2 {
	font-weight: bold;
}

.title p {
	font-size: 20px;
	color: #75809A;
}
/* title */

/* cards */
.cards .card{
	margin-top: 20px;
	margin-bottom: 20px;
}
.cards .card img{
	margin-bottom: 10px;
	height: 40px;
}
.cards .card h4{
	font-weight: bold;
	font-size: 20px;
}
.cards .card p{
	font-size: 18px;
}
/* cards */

/* point */
ul.point{
	margin: 50px 0;
	font-size: 0;
	padding: 0;
	text-align: center;
}
ul.point li:hover, ul.point .active{
	background-color: #006AFF;
}
.point li{
	display: inline-block;
	border: 1px solid #006AFF;
	border-radius: 50%;
	margin: 0 10px;
	padding: 7px;
}
/* point */

/* scroll page */
.scroll-box .page{
	margin: 0 auto;
	text-align: center;
}
.scroll-box .freccina{
	display: none;
	font-size: 50px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.scroll-box .left{
	left: 0;
}
.scroll-box .right{
	right: 0;
}
@media all and (min-width: 769px){
	.scroll-box .freccina{
		display: block;
	}

}
/* scroll page */

/* UTILITY */


/* modifiche boostrap navbar */

@media all and (min-width: 768px) {
	.navbar-toggle {
		display: block;
	}
	.navbar-header {
		float: none;
	}
	.navbar-collapse.collapse {
		display: none!important;
		overflow: visible!important;
	}
}

@media all and (min-width: 992px) {
	.navbar-toggle {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.navbar-collapse.collapse {
		display: block!important;
		overflow: visible!important;
	}
}


/* modifiche boostrap navbar */
.my-navbar{
  box-shadow: 0 1px #888888;

}
.my-navbar-right {
	float: right;
}

.navbar-header img {
	height: 30px;
}

.navbar-brand {
	padding: 10px;
}


/* JUMBOTRON */


/* posizionamento jumbo */

#jumbotron {
	height: 800px;
}

#jumbotron .container {
	height: 100%;
	position: relative;
}

#jumbotron .container .row {
	margin-right: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}


/* posizionamento jumbo */


/* text part */

#jumbotron .text h1 {
	font-size: 40px;
	font-weight: bolder;
	margin-top: 0;
}

#jumbotron .text p {
	font-size: 20px;
}


/* text part */


/* card part */
#jumbotron .box {
	padding: 15px;
}

#jumbotron .box>* {
	margin-bottom: 15px;
}

#jumbotron .box h2 {
	font-weight: bold;
}

#jumbotron button {
	width: 100%;
}

#jumbotron .box {
	background-color: #fff;
	border-radius: 5px;
}
/* card part */

@media all and (min-width: 992px) {
	/* posizionamento jumbo */
	#jumbotron .container .row {
		height: 100%;
		position: relative;
		top: 0;
		transform: translate(0, 0);
	}
	#jumbotron .container .row>* {
		height: 100%;
	}
	#jumbotron .text,
	#jumbotron .box {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	/* posizionamento jumbo */
	/* text part */
	#jumbotron .text h1 {
		font-size: 50px;
	}
	#jumbotron .text p {
		font-size: 25px;
	}
	/* text part */
}


/* JUMBOTRON */


/* logs */

#logs {
	text-align: center;
}

#logs img {
	width: 100%;
	max-width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logs .col-sm-2 {
	height: 100px;
	margin-bottom: 30px;
}

#logs p {
	font-size: 18px;
	color: grey;
	text-transform: uppercase;
	margin: 20px 0;
}

#logs span {
	font-size: 18px;
	color: #006AFF;
}

@media all and (min-width: 769px) and (max-width: 992px) {
	#logs img {
		max-width: 100px;
		;
	}
}
/* LOGS */
/* DEPLOY */

#deploy {
	padding: 50px 20px;
}
/* title */
#deploy .title{
	margin-bottom: 30px;
}

#deploy .title h2 {
	font-weight: bold;
}

#deploy .title p {
	font-size: 20px;
}
/* title */
/* selection */
#deploy .selection{
	margin: 30px 0;
}
#deploy .selection .selector{
	font-size: 20px;
	padding: 10px 30px;
	margin-left: 0px;
	border-left: 2px solid #e5e1e1;
	color: gray;
}
#deploy .selection .selector:hover{
	border-left: 2px solid #006AFF;
}
/* selection */
/* DEPLOY */
/* DESIGNED */
/* per piu info sulle regole controllare le utility */
#designed .page {
	width: 80%;
}
#designed .page img{
	width: 100%;
	margin-bottom: 20px;
}
#designed .page{
	font-size: 18px;
}

/* DESIGNED */
/* FEATURE */
/* per piu info sulle regole controllare le utility */
#features {
	padding: 50px 20px;
}
/* FEATURE */
/* SERVICE */

#service{
	padding: 70px 10px;
	background-color: #031B4E;
	background-image: url(../img/bg-map.svg);
	background-size: cover;
	background-position: center;
}
#service .screen-1{
	margin-bottom: 40px;
}
#service hr{
	margin: 10px 0;
}
#service span{
	text-transform: uppercase;
	font-weight: bolder;
	color: #fff;
}
#service p{
	color: #75809A;
	font-weight: bold;
	margin: 0;
}
#service a{
	color: #00D7D2;
	float: right;
	text-decoration: none;
}
#service a:hover{
	color: #006AFF;
}
/* SERVICE */
/* DEVELOPMENT */
/* per piu info sulle regole controllare le utility */
#development .scroll-box .page{
	width: 60%;
	min-width: 300px;
	padding: 50px 0;
}
#development .scroll-box img{
	max-width: 400px;
	width: 100%;
	margin-bottom: 20px;
}
#development .scroll-box p{
	margin: 0 10px;
	color: #75809A;
	font-size: 20px;
}
#development .scroll-box span{
}
#development .scroll-box a{
	display: inline-block;
	margin-top: 30px;
	color: #006AFF;
	font-weight: bold;
}
/* DEVELOPMENT */
/* GET STARTED */
#get-started{
background-image: url(../img/bg-blue.svg);
background-position: center;
background-size: cover;
text-align: center;
padding: 40px 0;
}

/* GET STARTED */

/* FOOTER*/
footer{
	background-color: #031C4E;
	padding: 50px;
}
footer .spam p{
	margin: 20px 0 10px 0;
}
footer .spam ul{
	padding: 0;
	margin-top: 10px;
	font-size: 20px;
}
footer .spam li{
	list-style-type: none;
	display: inline-block;
	margin-right: 15px;
}
footer .link{
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
}
footer .link li strong{
	font-size: 16px;
}
footer .link li a{
	color: #75809A;
	text-decoration: none;
}
footer .link li a:hover{
	color: #fff;
}
/* FOOTER*/

/* SHARK */
/*#shark{*/
/*	background-color: transparent;*/
/*}*/
/*#shark .shark-img{*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	margin-bottom: 15px;*/
/*}*/
/*#shark .shark-img img{*/
/*	border-radius: 10px;*/

/*	height: 60px;*/
/*}*/
/*#shark .shark-img .notification{*/
/*	color: white;*/
/*	padding: 5px 10px;*/
/*	background-color: red;*/
/*	border: 5px solid white;*/
/*	border-radius: 50%;*/
/*	position: absolute;*/
/*	top: -10px;*/
/*	right: -15px;*/
/*}*/
/*#shark .shark-position{*/
/*	right: 0px;*/
/*	left: initial;*/
/*}*/
/*#shark .baloon .rettangolo{*/
/*	filter:drop-shadow(3px 3px 4px black);*/
/*	display: inline-block;*/
/*	position: relative;*/
/*	border-radius: 10px;*/
/*	display: inline-block;*/
/*	height: 60px;*/
/*	width: 100%;*/
/*	min-width: 200px;*/
/*	background-color: white;*/
/*	color: black;*/
/*	margin-bottom: 15px;*/
/*}*/
/*#shark .baloon .rettangolo span{*/
/*	padding-left: 10px;*/
/*	width: 100%;*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	left: 50%;*/
/*	transform: translate(-50%, -50%);*/
/*}*/
/*#shark .baloon .triangle{*/
/*	height: 10px;*/
/*	width: 10px;*/
/*	transform: rotate(45deg);*/
/*	background-color: white;*/
/*	position: absolute;*/
/*	top: 40px;*/
/*	right: -5px;*/
/*}*/
/* SHARK */	